{% extends 'base.html' %}
{% block title %} Books {% endblock title %}
{% block body %}
<br> 
<h2 style="text-align: center;">Search for books by book or author name!</h2> 
<div>
    <br>
    <form class="form-inline" style="align-items: center; padding-left: 600px;">
        <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search book name/author" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <p>
        <form method="POST" action="{% url 'add_book' %}" class="form-inline" style="align-items: center; padding-left: 300px;">
            {%csrf_token%}
            <input class="form-control mr-sm-2" name="title" type="search" placeholder="Title" aria-label="Search">
            <input class="form-control mr-sm-2" name="authors" type="search" placeholder="Author(s)" aria-label="Search">
            <input class="form-control mr-sm-2" name="isbn" type="search" placeholder="isbn" aria-label="Search">
            <input class="form-control mr-sm-2" name="publisher" type="search" placeholder="Publisher" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add</button>
        </form>
    </p>

    <br><br>
    
    <div class="container">
        <table class="table" style="padding: 50px;">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Authors</th>
                <th scope="col">ISBN</th>
                <th scope="col">Publishers</th>
                <th scope="col">Delete Book</th>
              </tr>
            </thead>
            <tbody>
            {%for book in books%}
                    <tr>
                        <th>{{book.title}}</th>
                        <th>{{book.authors}}</th>
                        <th>{{book.isbn}}</th>
                        <th>{{book.publisher}}</th>
                        <th><a href="{% url 'delete_book' book.id %} ">Delete</a></th>
                    </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
</div>

{% endblock body %}